.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button{
  background-color:blue
}
.left{
  width:65%;
  height:80%;
 
  float:left;
 
}
.right{
  width:30%;
  height:80%;
  float:right;
 
}
.top{
  width:100%;
  height:50%;
  float:top;
  margin-top:3%;
  margin-left:5%;
  color:rgb(232,179,140);
  background-color:rgb(225, 240, 249);
}
.bottom{
  width:100%;
  height:50%;
  float:top;
  margin-left:5%;
  margin-top:3%;
  background-color:rgb(231, 50, 132);
  color:white;
  
}
.center{
  width:15%;
  height: 20%;
  margin-left:35%;
}
.img{
  width:250px;
  height:250px;
}

.foot{
  width:100%;
  float:left;
  margin-top:2%;
  
  color:white;
  background-color:rgb(34, 29, 29);
  text-align: center;
}